RewriteEngine on

RewriteRule ^register$ /abbchmprm/api/register.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^login$ /abbchmprm/api/login.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^txabbprmgameplay$ /abbchmprm/api/txabbprmgameplay.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^txabbprmgameplaydetail$ /abbchmprm/api/txabbprmgameplaydetail.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^txabbprmekstepevents$ /abbchmprm/api/txabbprmekstepevents.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^getavatarpic$ /abbchmprm/api/getavatarpic.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^updateavatarpic$ /abbchmprm/api/updateavatarpic.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^getaccesstoken$ /abbchmprm/api/getaccesstoken.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^getchild$ /abbchmprm/api/getchild.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^updateprofile$ /abbchmprm/api/updateprofile.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^uploadpicfile$ /abbchmprm/api/uploadpicfile.php?friendlyurl=$1&%{QUERY_STRING}

RewriteRule ^txabbchmgameplay$ /abbchmprm/api/txabbchmgameplay.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^txabbchmgameplaydetail$ /abbchmprm/api/txabbchmgameplaydetail.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^txabbchmwalletscore$ /abbchmprm/api/txabbchmwalletscore.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^rxabbchmgetwalletscore$ /abbchmprm/api/rxabbchmgetwalletscore.php?friendlyurl=$1&%{QUERY_STRING}
RewriteRule ^rxabbchmgetgamemasterdata$ /abbchmprm/api/rxabbchmgetgamemasterdata.php?friendlyurl=$1&%{QUERY_STRING}

